<style>
  .message-content{
    font-family: Arial, Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size:18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Uma troca de senha foi solicitada para sua conta</p>
  <p>se foi você, clique no link abaixo.</p>
  <a href="{{link}}">Resetar senha</a>



   <p>caso contrário desconsidere essa mensagem</p>

    <p> Atenciosamente Equipe GoBarber</p>
</div>
